In [5]:
import pandas as pd
import numpy as np

data_mar = pd.DataFrame({
    'Age': [20,22,24,28,30,35,40],
    'Income': [np.nan,np.nan,np.nan,45000,50000,55000,100000]
})

print("\nMAR Example Dataset:")
print(data_mar)

MAR Example Dataset:
   Age    Income
0   20       NaN
1   22       NaN
2   24       NaN
3   28   45000.0
4   30   50000.0
5   35   55000.0
6   40  100000.0