In [ ]:
# Data cleaning and finding duplicated data

import pandas as pd

data = {'Name':['Alice Smith','Bob Johnson','Alice Smith','Carol White'],
        'Email': ['alice@example.com','bob@example.com','alice@example.com','carol@example.com']}
df=pd.DataFrame(data)

duplicates=df[df.duplicated(subset=['Name','Email'])]
print("Exact Matches:")
print(duplicates)

Exact Matches:
          Name              Email
2  Alice Smith  alice@example.com

In [25]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:/Saugat-Programs/Semester VII/Data Science/Data Handling/train.csv')

data['PassengerId'] = data['PassengerId'].fillna(data['PassengerId'].mean()).astype(int)
data['Survived'] = data['Survived'].fillna(data['Survived'].mean()).astype(int)
data['Age'] = data['Age'].fillna(data['Age'].mean()).astype(int)
data['Name'] = data['Name'].fillna(data['Name'].mode()[0])
data['Sex'] = data['Sex'].fillna(data['Sex'].mode()[0])
data['SibSp'] = data['SibSp'].fillna(data['SibSp'].mean()).astype(int)
data['Fare'] = data['Fare'].fillna(data['Fare'].mean()).astype(int)
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

print(data)

    PassengerId  Survived  Pclass                             Name     Sex  \
0             1         0       3          Braund, Mr. Owen Harris    male
1             2         1       1       Cumings, Mrs. John Bradley  female
2             3         1       3           Heikkinen, Miss. Laina  female
3             4         1       1     Futrelle, Mrs. Jacques Heath    male
4             9         0       3         Allen, Mr. William Henry    male
5             6         0       3         Allen, Mr. William Henry    male
6             7         0       1          McCarthy, Mr. Timothy J    male
7             8         0       3   Palsson, Master. Gosta Leonard    male
8             9         1       3         Allen, Mr. William Henry  female
9            10         1       2            Nasser, Mrs. Nicholas  female
10           11         0       3  Sandstrom, Miss. Marguerite Rut  female
11           12         1       1         Bonnell, Miss. Elizabeth    male
12            9         0       3         Allen, Mr. William Henry    male
13           14         0       3      Andersson, Mr. Anders Johan    male
14           15         0       3                   Vestrom, Miss.  female
15           16         1       2                    Hewlett, Mrs.    male
16            9         0       3             Rice, Master. Eugene    male
17           18         1       2         Allen, Mr. William Henry    male
18           19         0       3       Vander Planke, Mrs. Julius    male

    Age  SibSp  Parch  Fare Embarked
0    22      1      0     7        S
1    38      1      0    71        C
2    28      1      0     7        S
3    35      1      0    53        S
4    35      0      0     8        S
5    28      1      0    24        Q
6    54      0      0    51        S
7     2      3      1    21        S
8    27      1      2    24        S
9    28      1      0    30        C
10    4      1      1    16        S
11   58      1      0    26        S
12   20      0      0     8        S
13   28      1      5    31        S
14   14      1      0     7        S
15   55      0      0    16        S
16    2      4      1    29        S
17   28      1      0    13        S
18   31      1      0    18        S

In [26]:
duplicates=data[data.duplicated(subset=['Name','Age','Sex'])]
print("Exact Matches:")
print(duplicates)

Exact Matches:
    PassengerId  Survived  Pclass                      Name   Sex  Age  SibSp  \
17           18         1       2  Allen, Mr. William Henry  male   28      1

    Parch  Fare Embarked
17      0    13        S