In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Gender': ['Boy','Girl','Boy','Girl',np.nan,'Girl'],
    'Height': [150,145,np.nan,152,155,np.nan]
})

data['Gender']=data['Gender'].fillna(data['Gender'].mode()[0])
data['Height']=data['Height'].fillna(data['Height'].mean()).astype(int)
print(data)

  Gender  Height
0    Boy     150
1   Girl     145
2    Boy     150
3   Girl     152
4   Girl     155
5   Girl     150

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:/Saugat-Programs/Semester VII/Data Science/Data Handling/train.csv')

original_age = data['Age'].copy()
original_name = data['Name'].copy()

data['PassengerId'] = data['PassengerId'].fillna(data['PassengerId'].mean()).astype(int)
data['Survived'] = data['Survived'].fillna(data['Survived'].mean()).astype(int)
data['Age'] = data['Age'].fillna(data['Age'].mean()).astype(int)
data['Name'] = data['Name'].fillna(data['Name'].mode()[0])
data['Sex'] = data['Sex'].fillna(data['Sex'].mode()[0])
data['SibSp'] = data['SibSp'].fillna(data['SibSp'].mean()).astype(int)
data['Fare'] = data['Fare'].fillna(data['Fare'].mean()).astype(int)
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

age_comparison = pd.concat(
    [original_age, data['Age']],
    axis=1,
    keys=['Age_Before', 'Age_After']
)

name_comparison = pd.concat(
    [original_name, data['Name']],
    axis=1,
    keys=['Name_Before','Name_After']
)

print(age_comparison.head(15))
print(name_comparison.head(15))

    Age_Before  Age_After
0         22.0         22
1         38.0         38
2          NaN         28
3         35.0         35
4         35.0         35
5          NaN         28
6         54.0         54
7          2.0          2
8         27.0         27
9          NaN         28
10         4.0          4
11        58.0         58
12        20.0         20
13         NaN         28
14        14.0         14
                                          Name_Before  \
0                             Braund, Mr. Owen Harris
1   Cumings, Mrs. John Bradley (Florence Briggs Th...
2                              Heikkinen, Miss. Laina
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                            Allen, Mr. William Henry
5                                                 NaN
6                             McCarthy, Mr. Timothy J
7                      Palsson, Master. Gosta Leonard
8                                                 NaN
9                 Nasser, Mrs. Nicholas (Adele Achem)
10                    Sandstrom, Miss. Marguerite Rut
11                           Bonnell, Miss. Elizabeth
12                                                NaN
13                        Andersson, Mr. Anders Johan
14               Vestrom, Miss. Hulda Amanda Adolfina

                                           Name_After
0                             Braund, Mr. Owen Harris
1   Cumings, Mrs. John Bradley (Florence Briggs Th...
2                              Heikkinen, Miss. Laina
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                            Allen, Mr. William Henry
5                            Allen, Mr. William Henry
6                             McCarthy, Mr. Timothy J
7                      Palsson, Master. Gosta Leonard
8                            Allen, Mr. William Henry
9                 Nasser, Mrs. Nicholas (Adele Achem)
10                    Sandstrom, Miss. Marguerite Rut
11                           Bonnell, Miss. Elizabeth
12                           Allen, Mr. William Henry
13                        Andersson, Mr. Anders Johan
14               Vestrom, Miss. Hulda Amanda Adolfina

In [1]:
import pandas as pd

data = {'Name':['Alice Smith','Bob Johnson','Alice Smith','Carol White'],
        'Email': ['alice@example.com','bob@example.com','alice@example.com','carol@example.com']}
df=pd.DataFrame(data)

duplicates=df[df.duplicated(subset=['Name','Email'])]
print("Exact Matches:")
print(duplicates)

Exact Matches:
          Name              Email
2  Alice Smith  alice@example.com